@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.defaultDashedComponent{
  padding: 40px 47px;
  height: 70vh;
  width: 40%;
  border: dashed 4px #031361;
     outline-offset:-74px;
     margin-bottom: 40px;
}
.activeDashedComponent{
    padding: 40px 47px;
  height: 70vh;
  width: 40%;
  border: dashed 4px #D9A7FC;
     outline-offset:-74px;
     margin-bottom: 40px;
}

.defaultComponent{
  width: 100%;
  border: 2px solid #031361;
  height: 100%;
}
.activeComponent{
  width: 100%;
  border: 2px solid #FFA449;
  height: 100%;
}
.isSourceText{
  color: #FFA449;
}
.outer-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(128, 0, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.outer-circle-active {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(128, 0, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #3f51b5;
  position: relative;
}
.inner-circle-active {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:white;
  position: relative;
}

.inner-circle::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inner-circle-active::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background:#D0D5DD;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}